/node_modules
/public/hot
/public/storage
/public/avatars
/public/external_orgunits
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
*.sql
*.sql.gz
archiveрезерв310723.zip
archiveрезерв310723.zip
